Repository control-net/Miunie, pull requests merged in 2020-02, with the labels that each got.

#191 Reimplement Miunie.Discord with Discord.NET
  src/Miunie.ConsoleApp/Miunie.ConsoleApp.csproj
  src/Miunie.Discord/Adapters/DiscordGuildsAdapter.cs
  src/Miunie.Discord/Adapters/DiscordMessagesAdapter.cs
  src/Miunie.Discord/CommandHandler.cs
  src/Miunie.Discord/CommandModules/CurrencyCommand.cs
  src/Miunie.Discord/CommandModules/ProfileCommand.cs
  src/Miunie.Discord/CommandModules/RemoteRepositoryCommand.cs
  src/Miunie.Discord/CommandServiceFactory.cs
  src/Miunie.Discord/Convertors/EntityConvertor.cs
  src/Miunie.Discord/Convertors/MiunieChannelConvertor.cs
  src/Miunie.Discord/Convertors/MiunieGuildConvertor.cs
  src/Miunie.Discord/Convertors/MiunieRoleConvertor.cs
  src/Miunie.Discord/Convertors/MiunieUserConvertor.cs
  src/Miunie.Discord/Embeds/EmbedConstructor.cs
  src/Miunie.Discord/IDiscord.cs
  src/Miunie.Discord/Impersonation.cs
  src/Miunie.Discord/Logging/DiscordLogger.cs
  src/Miunie.Discord/Miunie.Discord.csproj
  src/Miunie.Discord/MiunieDiscord.cs
  src/Miunie.Discord/MiunieDiscordClient.cs
  src/Miunie.InversionOfControl/Container.cs
  src/Miunie.WindowsApp/Miunie.WindowsApp.csproj
  src/nuget.config
Labels: Discord

#194 Time command
  src/Miunie.Core.XUnit.Tests/Miunie.Core.XUnit.Tests.csproj
  src/Miunie.Core.XUnit.Tests/MiunieDiscordClientTests.cs
  src/Miunie.Core.XUnit.Tests/Providers/UserReputationProviderTests.cs
  src/Miunie.Core.XUnit.Tests/Services/TimeServiceTests.cs
  src/Miunie.Core/Entities/MiunieUser.cs
  src/Miunie.Core/Entities/PhraseKey.cs
  src/Miunie.Core/Infrastructure/IDateTime.cs
  src/Miunie.Core/Miunie.Core.csproj
  src/Miunie.Core/Providers/UserReputationProvider.cs
  src/Miunie.Core/Services/TimeService.cs
  src/Miunie.Core/Strings.Designer.cs
  src/Miunie.Core/Strings.resx
  src/Miunie.Discord/CommandModules/TimeCommand.cs
  src/Miunie.Discord/IDiscord.cs
  src/Miunie.Discord/MiunieDiscord.cs
  src/Miunie.Discord/MiunieDiscordClient.cs
  src/Miunie.InversionOfControl/Container.cs
  src/Miunie.SystemInfrastructure/SystemDateTime.cs
Labels: Core, Discord

#197 Implement miunie type reader
  .gitignore
  src/Miunie.Discord/CommandHandler.cs
  src/Miunie.Discord/CommandModules/ProfileCommand.cs
  src/Miunie.Discord/CommandModules/TimeCommand.cs
  src/Miunie.Discord/TypeReaders/MiunieUserTypeReader.cs
Labels: Discord

#195 Fix UWP Avatar transition
  src/Miunie.WindowsApp/ViewModels/StatusPageViewModel.cs
  src/Miunie.WindowsApp/Views/StatusPage.xaml
  src/Miunie.WindowsApp/Views/StatusPage.xaml.cs
Labels: GUI / UI, UWP, bug

#218 Implement avalonia app
  src/Miunie.Avalonia/.gitignore
  src/Miunie.Avalonia/App.xaml
  src/Miunie.Avalonia/App.xaml.cs
  src/Miunie.Avalonia/Assets/avalonia-logo.ico
  src/Miunie.Avalonia/InversionOfControl.cs
  src/Miunie.Avalonia/Miunie.Avalonia.csproj
  src/Miunie.Avalonia/Program.cs
  src/Miunie.Avalonia/ViewLocator.cs
  src/Miunie.Avalonia/ViewModels/MainWindowViewModel.cs
  src/Miunie.Avalonia/ViewModels/ViewModelBase.cs
  src/Miunie.Avalonia/Views/MainWindow.xaml
  src/Miunie.Avalonia/Views/MainWindow.xaml.cs
  src/Miunie.Avalonia/nuget.config
  src/Miunie.sln
  src/MiunieWindows.sln
  src/nuget.config
Labels: Section: Avalonia UI, Section: GUI / UI, needs more info, question

#224 #201 Fix message list order
  src/Miunie.WindowsApp/App.xaml
  src/Miunie.WindowsApp/Converters/SortedListConverter.cs
  src/Miunie.WindowsApp/Miunie.WindowsApp.csproj
  src/Miunie.WindowsApp/Views/ImpersonationChatPage.xaml
Labels: Section: GUI / UI, Section: UWP

#223 #213 Remove unused back button from nav
  src/Miunie.WindowsApp/Views/StartPage.xaml
Labels: Section: GUI / UI, Section: UWP

#222 #212 Add preferred min application size
  src/Miunie.WindowsApp/App.xaml.cs
  src/Miunie.WindowsApp/Package.appxmanifest
Labels: Section: GUI / UI, Section: UWP

#219 Implement Reputation Log (#180)
  src/Miunie.Core.XUnit.Tests/Providers/UserReputationProviderTests.cs
  src/Miunie.Core.XUnit.Tests/Services/ProfileServiceTests.cs
  src/Miunie.Core/Discord/IDiscordMessages.cs
  src/Miunie.Core/Entities/PhraseKey.cs
  src/Miunie.Core/Entities/ReputationEntry.cs
  src/Miunie.Core/Entities/ReputationType.cs
  src/Miunie.Core/Providers/IMiunieUserProvider.cs
  src/Miunie.Core/Providers/IUserReputationProvider.cs
  src/Miunie.Core/Providers/MiunieUserProvider.cs
  src/Miunie.Core/Providers/UserReputationProvider.cs
  src/Miunie.Core/Services/ProfileService.cs
  src/Miunie.Core/Storage/IPersistentStorage.cs
  src/Miunie.Core/Strings.Designer.cs
  src/Miunie.Core/Strings.resx
  src/Miunie.Discord/Adapters/DiscordMessagesAdapter.cs
  src/Miunie.Discord/CommandModules/ProfileCommand.cs
  src/Miunie.Discord/Embeds/EmbedConstructor.cs
  src/Miunie.Discord/Embeds/Paginator.cs
  src/Miunie.LiteDbStorage/PersistentStorage.cs
Labels: Section: Core, Section: Discord
