Repository control-net/Miunie, pull requests merged in 2020-03, with the labels that each got.

#225 #189 Refactor cast with error checking Miunie.Discord
  src/Miunie.Core/Exceptions/SocketTextChannelCastException.cs
  src/Miunie.Discord/Adapters/DiscordMessagesAdapter.cs
  src/Miunie.Discord/Convertors/MiunieChannelConvertor.cs
  src/Miunie.Discord/Convertors/MiunieGuildConvertor.cs
  src/Miunie.Discord/Convertors/MiunieUserConvertor.cs
  src/Miunie.Discord/Impersonation.cs
Labels: Core, Discord

#234 Fix Connection State Updating
  src/Miunie.Avalonia/ViewModels/MainWindowViewModel.cs
Labels: Avalonia UI, GUI / UI, bug

#236 Add TimeManipulationProvider Tests
  src/Miunie.Core.XUnit.Tests/Data/DummyMiunieUsers.cs
  src/Miunie.Core.XUnit.Tests/Providers/TimeManipulationProviderTests.cs
Labels: Core

#232 Implement Command Toggle
  src/Miunie.Core/Configuration/BotConfiguration.cs
  src/Miunie.Core/Configuration/IBotConfiguration.cs
  src/Miunie.Discord/CommandHandler.cs
Labels: Core, Discord

#244 Add server icon to guild command
  src/Miunie.ConsoleApp/Program.cs
  src/Miunie.Core/Configuration/BotConfiguration.cs
  src/Miunie.Core/Entities/MiunieGuild.cs
  src/Miunie.Discord/Convertors/MiunieGuildConvertor.cs
  src/Miunie.Discord/Embeds/EmbedConstructor.cs
Labels: Discord

#250 Add Miunie logo
  src/Miunie.Avalonia/Assets/miunie-icon.png
  src/Miunie.Avalonia/Miunie.Avalonia.csproj
  src/Miunie.Avalonia/Views/MainWindow.xaml
Labels: Avalonia UI, GUI / UI

#256 #255 uwp app crashes
  src/Miunie.Discord/CommandModules/ProfileCommand.cs
  src/Miunie.WindowsApp/App.xaml.cs
  src/Miunie.WindowsApp/Miunie.WindowsApp.csproj
  src/Miunie.WindowsApp/Package.appxmanifest
  src/Miunie.WindowsApp/ViewModels/StatusPageViewModel.cs
  src/Miunie.WindowsApp/ViewModels/ViewModelLocator.cs
  src/Miunie.WindowsApp/Views/StartPage.xaml
Labels: GUI / UI, UWP, bug

#254 #239 UWP Log View Redesign
  src/Miunie.WindowsApp/Utilities/EnterKeyHelpers.cs
  src/Miunie.WindowsApp/ViewModels/SettingsPageViewModel.cs
  src/Miunie.WindowsApp/Views/SettingsPage.xaml
Labels: GUI / UI, UWP

#253 #242 Persist token to Local Settings
  src/Miunie.WindowsApp/Utilities/TokenManager.cs
  src/Miunie.WindowsApp/ViewModels/StatusPageViewModel.cs
Labels: GUI / UI, UWP, beginner friendly

#252 #251 Impersonation Performance Tune
  src/Miunie.Discord/Impersonation.cs
  src/Miunie.WindowsApp/ViewModels/ImpersonationChatPageViewModel.cs
  src/Miunie.WindowsApp/Views/ImpersonationChatPage.xaml
  src/Miunie.WindowsApp/Views/ImpersonationChatPage.xaml.cs
Labels: GUI / UI, UWP

#259 Add Avalonia avatar switch
  src/Miunie.Avalonia/InversionOfControl.cs
  src/Miunie.Avalonia/Miunie.Avalonia.csproj
  src/Miunie.Avalonia/Utilities/UrlImageConverter.cs
  src/Miunie.Avalonia/ViewModels/MainWindowViewModel.cs
  src/Miunie.Avalonia/Views/MainWindow.xaml
Labels: Avalonia UI, GUI / UI

#263 UWP - Fix error when sending messages to readonly channels
  src/Miunie.Core/Entities/Views/TextChannelView.cs
  src/Miunie.Discord/Impersonation.cs
  src/Miunie.WindowsApp/ViewModels/ImpersonationChatPageViewModel.cs
  src/Miunie.WindowsApp/Views/ImpersonationChatPage.xaml
Labels: bug

#267 Implement impersonation in console app
  src/Miunie.ConsoleApp/ConsoleMenu.cs
  src/Miunie.ConsoleApp/ConsoleStrings.Designer.cs
  src/Miunie.ConsoleApp/ConsoleStrings.resx
  src/Miunie.ConsoleApp/Program.cs
  src/Miunie.ConsoleApp/ServerMenu.cs
Labels: ConsoleApp, Discord, GUI / UI

#274 Update UWP Styles and Text Layout
  src/Miunie.WindowsApp/Views/ImpersonationChatPage.xaml
Labels: GUI / UI, UWP, bug

#298 #280: added checkbox with binding to CommandsEnabled
  src/Miunie.Avalonia/ViewModels/MainWindowViewModel.cs
  src/Miunie.Avalonia/Views/MainWindow.xaml
Labels: Avalonia UI, GUI / UI

#295 #281 UWP Commands Switch
  src/Miunie.WindowsApp/ViewModels/ImpersonationChatPageViewModel.cs
  src/Miunie.WindowsApp/ViewModels/SettingsPageViewModel.cs
  src/Miunie.WindowsApp/Views/ImpersonationChatPage.xaml.cs
  src/Miunie.WindowsApp/Views/SettingsPage.xaml
Labels: GUI / UI, UWP
