Repository control-net/Miunie, pull requests merged in 2020-05, with the labels that each got.

#296 #279 UWP server and channel zero state
  src/Miunie.WindowsApp/Controls/NoContentControl.xaml
  src/Miunie.WindowsApp/Controls/NoContentControl.xaml.cs
  src/Miunie.WindowsApp/Miunie.WindowsApp.csproj
  src/Miunie.WindowsApp/ViewModels/ImpersonationChatPageViewModel.cs
  src/Miunie.WindowsApp/ViewModels/ServersPageViewModel.cs
  src/Miunie.WindowsApp/Views/ImpersonationChatPage.xaml
  src/Miunie.WindowsApp/Views/ServersPage.xaml
Labels: GUI / UI, UWP

#299 Remove profile service method duplication
  src/Miunie.Core/Services/ProfileService.cs
  src/Miunie.Discord/CommandModules/ProfileCommand.cs
Labels: Core

#300 Simplify ConsoleApp argument parsing
  src/Miunie.ConsoleApp/Arguments/ArgumentsParser.cs
  src/Miunie.ConsoleApp/Arguments/RuntimeArguments.cs
  src/Miunie.ConsoleApp/ConsoleStrings.Designer.cs
  src/Miunie.ConsoleApp/ConsoleStrings.resx
  src/Miunie.ConsoleApp/Program.cs
Labels: ConsoleApp
